@charset "UTF-8";

/* 
paleta de cores
verde: #49a09d
lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 515px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, heigtht .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#foto{
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit]{
    width: 100%;
    font-size: 1em;
    height: 40px;
    display: block;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

form > input[type=submit]:hover{
    background-color: #316b69;
}

form > a#botao{
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    border-radius: 7px;
    color: #316b69;
    border: 1px solid #316b69;
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    text-decoration: none;
}

form > a#botao:hover{
    background-color: #49a09d;
}

form > div.campo{
    border: 2px solid #5f2c82;
    background-color: #5f2c82;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div > svg{
    color: white;
}

div.campo > input{
    background-color: #53b8b4;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-15px);
}

div.campo > input:focus-within{
    background-color: white;
}