@charset "UTF-8";

/* 
paleta de cores
verde: #49a09d
lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, heigtht .3s;
    transition-timing-function: ease;
}

section#login > div#foto{
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}